body { 
 padding-top: 100px;
 padding-left: 70px;
 }
#rightPane{
  background-color : aliceblue;	
  border: 2px solid #a1a1a1;
  border-radius: 25px;
  height: 100%;
  position: relative;
}
#leftPane {
  background-color : rgb(234, 234, 234);	
  border: 2px solid #a1a1a1;
  border-radius: 25px;
  height: 100%;
  position: relative;
}

